body{
  background-color:#fafafa;
}
.picker{
  margin-left: 30px;
}
.brand-logo img{
  margin-top: 7px;
  height: 40px;
}
.navitem{
  font-weight: bold;
}
.margin{
  margin-top: 50px;
  margin-bottom: 30px;
}

.aboutbold{
  font-weight: bold;
}
.global .row{
  margin-top: -17px;
}

.colorblue{
  border-left:8px solid rgb(126, 162, 228);
}
.colorred{
  border-left:8px solid rgb(245, 107, 107);
}
.colorgreen{
  border-left:8px solid rgb(137, 214, 147);
}
.bold{
  font-weight: bold;
}
.card-panel p{
  margin-block-start: 0em;
    margin-block-end: 0em;
}

.padd  tr td{
  padding-left: 20px;
  
}
.padd  th{
  padding-left: 20px;
}
@media only screen and (min-width: 600px) {
  .border{
    border-left:8px solid rgb(109, 109, 109); 
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .brand-logo img{
    margin-top: 7px;
    height: 26px;
  }
}

